.myAppDemoWT .myCustomText {
  font-weight: bold;
}
#title1-inner {
  margin-left: 875px;
}

#title0-inner {
  margin-left: 25%;
}
.sapMLIBShowSeparator>td {
  border-top: 0px #e5e5e5;
}
.img{
  background-image: url("https://wallpapercave.com/wp/wp6991641.jpg");
}
.Bruh{
  margin-left: 1100px;
  margin-top: 435px;
}